<div class="panel panel-warning">
   <div class="panel-heading">
      <h3 class="panel-title" style="color: #FF606E">必填</h3>
   </div>
   <div class="panel-body">

      <div class="row row-condensed space-4">
        <div class="col-md-3 text-right">
          <h5>名字</h5>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="请输入名字">
        </div>
      </div>

      <div class="row" style="height: 20px"></div>

      <div class="row row-condensed space-4">
        <div class="col-md-3 text-right">
          <h5>姓氏</h5>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="请输入姓氏">
        </div>
      </div>

      <div class="row" style="height: 20px"></div>

      <div class="row row-condensed space-4">
        <div class="col-md-3 text-right">
          <h5>电话号码</h5>
        </div>
        <div class="col-md-6">
          <h5 style="color: #FF606E">未输入电话号码</h5>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <a style="text-decoration: none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5 style="color: #FF606E">点击此处添加电话号码</h5></a>
          <div class="dropdown-menu" style="width: 480px">
            <div class="row row-condensed space-4">
              <div class="col-md-3 text-right" style="padding: 0">
                <h6>地区</h6>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="请输入电话号码">
              </div>
            </div>
            <div class="row" style="height: 20px"></div>
            <div class="row row-condensed space-4">
              <div class="col-md-3 text-right" style="padding: 0">
                <h6>验证码</h6>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="请输入验证码">
              </div>
            </div>
            <div class="row" style="height: 20px"></div>
            <div class="row row-condensed space-4">
              <div class="col-md-3 col-md-offset-5">
                <button class="btn btn-info btn-block">获取验证码</button>
              </div>
              <div class="col-md-3">
                <button class="btn btn-info btn-block">完成验证</button>
              </div>
            </div>
          </div>
          <h6 style="color: #9D9D9D">当有预定、咨询、确认或者意外情况时改电话能够确保畅通</h6>
        </div>
      </div>

      <div class="row" style="height: 20px"></div>

      <div class="row row-condensed space-4">
        <div class="col-md-3 text-right">
          <h5>您住的地方</h5>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="例如：上海/苏州/杭州">
        </div>
      </div>

      <div class="row" style="height: 20px"></div>

      <div class="row row-condensed space-4">
        <div class="col-md-3 text-right">
          <h5>描述一下你自己</h5>
        </div>
        <div class="col-md-6">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="row" style="height: 10px"></div>
        <div class="col-md-6 col-md-offset-3">
          <h6 style="color: #9D9D9D">Goat是网上建立联系的网站。</h6>
          <h6 style="color: #9D9D9D">告诉他们你喜欢什么：离开了什么就活不了，最讨厌什么，什么会给你惊喜！</h6>
          <h6 style="color: #9D9D9D">告诉他们你是一个什么样的房东，你将如何对待房客。</h6>
          <h6 style="color: #9D9D9D">最后再加一句你的人生信条！</h6>
        </div>
      </div>

    </div>
</div>
<div class="panel panel-warning">

    <div class="panel-heading">
       <h3 class="panel-title" style="color: #FF606E">可选</h3>
    </div>
    <div class="panel-body">

       <div class="row row-condensed space-4">
         <div class="col-md-3 text-right">
           <h5>学校</h5>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control" placeholder="请输入学校名字">
         </div>
       </div>

       <div class="row" style="height: 20px"></div>

       <div class="row row-condensed space-4">
         <div class="col-md-3 text-right">
           <h5>工作</h5>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control" placeholder="例如：苹果/谷歌/阿里">
         </div>
       </div>

       <div class="row" style="height: 20px"></div>

       <div class="row row-condensed space-4">
         <div class="col-md-3 text-right">
           <h5>紧急联系人</h5>
         </div>
         <div class="col-md-6">
           <h5 style="color: #FF606E">未添加</h5>
         </div>
         <div class="col-md-6 col-md-offset-3">
           <a style="text-decoration: none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5 style="color: #FF606E">点击此处添加紧急联系人</h5></a>
           <div class="dropdown-menu" style="width: 480px">
             <div class="row row-condensed space-4">
               <div class="col-md-3 text-right" style="padding: 0">
                 <h6>姓名</h6>
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control">
               </div>
             </div>
             <div class="row" style="height: 20px"></div>
             <div class="row row-condensed space-4">
               <div class="col-md-3 text-right" style="padding: 0">
                 <h6>电话</h6>
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control">
               </div>
             </div>
             <div class="row" style="height: 20px"></div>
             <div class="row row-condensed space-4">
               <div class="col-md-3 text-right" style="padding: 0">
                 <h6>与您的关系</h6>
               </div>
               <div class="col-md-6">
                 <input type="text" class="form-control">
               </div>
             </div>
             <div class="row" style="height: 20px"></div>
             <div class="row row-condensed space-4">
               <div class="col-md-3 col-md-offset-8">
                 <button class="btn btn-info btn-block">完成添加</button>
               </div>
             </div>
           </div>
           <h6 style="color: #9D9D9D">意外情况时改电话能够确保畅通。</h6>
         </div>
       </div>

     </div>

</div>
<div class="panel panel-warning">

     <div class="panel-heading">
        <h3 class="panel-title" style="color: #FF606E">商务差旅</h3>
     </div>
     <div class="panel-body">

       <div class="row row-condensed space-4">
         <div class="col-md-3 text-right">
           <h5>工作邮箱</h5>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control">
         </div>
       </div>

       <div class="row row-condensed space-4">
         <div class="col-md-6 col-md-offset-3">
           <h6 style="color: #9D9D9D">轻松为商务差旅付款，查看商务差旅就绪房源。</h6>
         </div>
       </div>

    </div>

</div>

<div class="row">
  <div class="col-md-2 col-md-offset-9">
    <button class="btn btn-warning btn-block">保存</button>
  </div>
</div>

<div class="row" style="height: 20px"></div>
